<h1>Posts</h1>
<div class="post">
	<p>Welcome to the first blog served by idscms</p>
	
	<% @posts.each do |post| %>
		<div class="post hentry">
			<h2><a href="<%= post.permalink %>" class="entry-title" rel="bookmark"><%= post.title %></a></h2>
			<span class="subtitle">Posted by
				<span class="author vcard fn"><%= post.author %></span> on
				<abbr class="updated" title="<%= post.updated_at.getgm.strftime("%Y-%m-%dT%H:%M:%SZ") %>"><%= post.updated_at.strftime("%D")%></abbr>
			</span>
			<div class="content entry-content">
				<%= post.description %>
			</div>
		</div>
	<% end %>
</div>